<app-header></app-header>

<div class="home">
<br><br><br>
<br>

<h3>The Best Kdramas</h3>
<br>
<img class="image" src="https://greatkoreandramas.files.wordpress.com/2015/08/cropped-header.jpg" width="100%" height="400px" >
<div class="para">
 <p> If you are confused about what to watch next, you’ve come to the right place.</p>
  <p>You’ll find a list of Korean dramas of different genres and reviews from different people.</p>
  <hr>
 <p>  What are kdramas? Korean drama  more popularly known as K-dramas,
   are television series in the Korean language, made in South Korea. Korean dramas are popular worldwide, partially due to the spread of Korean popular culture (the "Korean Wave"), and their widespread availability via
    streaming services which often offer subtitles in multiple languages. Many K-dramas have been adapted throughout the world, and some have had great impact on other countries. Some of the most famous dramas
   have been broadcast via traditional television channels in other countries.</p>
   <p><b> Here’s our  Top 10 kdramas of 2020:
  </b></p>
  <h4>10. Sweet Home</h4>
  
  <img  class="pic" src="https://i.pinimg.com/736x/0a/fa/84/0afa84b6393d82d8c7ee6f9f1a08173f.jpg" height="12%" width="12%">
  <p>Cha Hyun-Su (Song Kang) is a high school student. He is also a recluse and rarely leaves his room. He refuses to talk to his father, 
    mother and younger sister. One day, his whole family, except for him, dies in a car accident. Cha Hyun-Su is left all alone. He moves into a small apartment. At this time, a mysterious phenomenon of humans turning into monster occur all 
    around the world. The residents of Cha Hyun-Su's apartment building,
     including Pyeon Sang-Wook (Lee Jin-Wook), fight against these monsters and try to survive.
    </p>
    <br>
    <br>
    <br>

 <h4>9.Itaewon Class</h4>
 <img class="pic" src="https://m.media-amazon.com/images/M/MV5BODY1NWE2OTctOTU5MC00NTlmLWI2MzktMmYzMTUzYjk4YjEzXkEyXkFqcGdeQXVyNjc3MjQzNTI@._V1_.jpg"
 height="12%" width="12%">
 <p>
  On the first day of attending his new high school, Park Sae Ro Yi punches his classmate Jang Geun Won, who was bullying another classmate. The bully is the son of CEO Jang Dae Hee. The bully's father runs restaurant business Jagga where Sae Ro Yi's own father works. CEO Jang Dae Hee demands to Sae Ro Yi that he apologizes to his son, but Sae Ro Yi refuses. Because of his refusal, he gets expelled from school and his father gets fired from his job. Soon, an accident takes place. Sae Ro Yi's father dies in a motorcycle accident caused by his ex-classmate Jang Geun Won. Burning with anger, Sae Ro Yi viciously beats Jang Geun Won. He is soon arrested and receives prison time for violent assault. Sae Ro Yi decides to destroy the Jagga company and take revenge upon CEO Jang Dae Hee and his son Jang Geun Won. Once Sae Ro Yi is released from prison, he opens a restaurant in Itaewon, Seoul. Jo Yi Seo,
   who is popular on social media, joins Sae Ro Yi's restaurant and works there as a manager.
 </p>
 <h4>8.Doctor Romantic 2</h4>
 <img class="pic" src="https://i.mydramalist.com/Rr7DEf.jpg"
 height="12%" width="12%">
 <p>
  Boo Yong-Joo (Han Suk-Kyu) calls himself Dr. Romantic and is called Teacher Kim. He is a weird doctor who does not want to socialize with others. Boo Yong-Joo runs the shabby clinic Doldam.

  Cha Eun-Jae (Lee Sung-Kyung) is a 2nd year fellow for surgery. She is smart and confident. She has never experienced discouragement or failure.
  
  Seo Woo-Jin (Ahn Hyo-Seop) is a 2nd year fellow for surgery. He has excellent skills for surgery. His personality is cynical. Because he went through a tough life, he does not believe in happiness.
  
  Cha Eun-Jae and Seo Woo-Jin meet the unusual doctor Teacher Kim. They grow as humans and doctors with their experience with Teacher Kim.
 </p>
 <br> <br> <br>
 <h4>7.Tale Of The Nine Tailed</h4>
 <img class="pic" src="https://upload.wikimedia.org/wikipedia/en/5/5c/Tale_of_the_Nine_Tailed.jpg"
 height="12%" width="12%">
 <p>
  Lee Yeon (Lee Dong-Wook) was once the mountain spirit of Baekdudaegan. He sacrificed his life as a mountain god to resurrect the life of the woman he loved A Eum. Lee Yeon now lives his life as a nine tailed fox in human form. He has lived this way for hundreds of years.

  Meanwhile, Nam Ji-A (Jo Bo-Ah) works for TVC station as a PD of documentaries. She seeks out stories on the supernatural. Back in 1999, her parents were involved in a car accident in Yeou Gogae. She remembers a man that saved her in that accident. Now, Nam Ji-A reviews CCTV footage from a wedding hall where the bride disappeared. She sees the man that saved her as child walking out the wedding wall with a red umbrella. His name is Lee Yeon.
 </p>
 <br> <br> 

 <h4>6.Start Up</h4>
 <img class="pic" src="https://upload.wikimedia.org/wikipedia/en/1/12/Start-Up_2020.jpg"
 height="12%" width="12%">
<p>
  Needing to make $90k to open her own business, Seo Dal-Mi drops out of a university and takes up part-time work. She dreams of becoming someone like Steve Jobs.

Nam Do-San is the founder of Samsan Tech. He is excellent with mathematics. He started Samsan Tech two years ago, but the company is not doing well. Somehow, Nam Do-San becomes Seo Dal-Mi’s first love. They cheer each others start and growth.
</p>
<br> <br> <br> <br>


<h4>5.18 Again</h4>
<img class="pic" src="https://upload.wikimedia.org/wikipedia/en/thumb/b/ba/18_Again_2020.jpg/250px-18_Again_2020.jpg"
height="12%" width="12%">
<p>
  Jung Da-Jung  is married to 37-year-old Hong Dae-Young . They have have 18-year-old son and daughter. Jung Da-Jung works hard as a rookie announcer and she has a warm heart. She becomes completely fed up with her husband and is unable to deal with him anymore. Hong Dae-Young got fired from his job and he is looked down upon by his family. Jung Da-Jung hands him divorce papers.

Meanwhile, Hong Dae-Young looks at himself as an ordinary jobless middle-aged man. He regrets his life. At that moment, his body changes into that of an 18-year-old year old person, while his mind is still that of his 37-year-old self. Back in his teenage days, Hong Dae-Young (Lee Do-Hyun) was an excellent basketball player and also popular. Now, with his regained 18-year-old body, he changes his name to Ko Woo-Young and begins to live a new life.
</p>
<br>


<h4>4.Crash Landing On You</h4>
<img class="pic" src="http://foreveryoungadult.com/_uploads/images-new/53191/crashlandingonyou__span.png"
height="2%" width="10%">
<p>
  Yoon Se-Ri (Son Ye-Jin) is an heiress to a conglomerate in South Korea. One day, while paragliding, an accident caused by strong winds leads Yoon Se-Ri to make an emergency landing in North Korea. There, she meets Ri Jeong-Hyeok (Hyun-Bin), who is a North Korean army officer. He tries to protect her and hide her. Soon, Ri Jeong-Hyeok falls in love with Yoon Se-Ri.
</p>
<br>
<br>
<br>
<br>
<br>
<h4>3.Hospital Playlist</h4>
<img class="pic" src="https://asianwiki.com/images/c/ca/Hospital_Playlist-P1.jpg"
height="12%" width="10%">
<p>
   It’s a series set in the hospital where a group of doctors share the same passion for music. But it’s not just your usual medical-slash-musical drama—it’s a medical-slash-musical drama with a heart.
  This group of doctors have been friends since they were in med school, and have been there for each other until now that they’re in their 40s. When the going gets tough during patient checkups and surgeries, they are always present to cheer each other up. They are all professional when it comes to their jobs, but they still find time to relax. This is through band sessions that they hold on nights when they’re not that busy.

</p>

<br>
<br>
<h4>2.Its Okay To Not Be Okay</h4>
<img class="pic" src="https://m.media-amazon.com/images/M/MV5BYTk0Nzk5ZWYtYTNlZi00YjBjLWJhYjctMWMwMmYyMDA5ZjJmXkEyXkFqcGdeQXVyNDY5MjMyNTg@._V1_UY1200_CR107,0,630,1200_AL_.jpg"
height="10%" width="10%">
<p>
  It's Okay to Not Be Okay  is a South Korean romance drama. It stars Kim Soo-hyun, Seo Yea-ji, Oh Jung-se and Park Gyu-young. The series follows a selfless psych ward caretaker and an antisocial children's book writer.

The series was broadcast for 16 episodes on tvN and Netflix from June 20, 2020, to August 9, 2020. According to Nielsen Korea, it recorded an average nationwide TV viewership rating of 5.4%. It was the most popular show of 2020 in the romance genre on Netflix in South Korea.

</p>
<br>
<br>
<br>
<br><br>

<h4>1.Flower Of Evil</h4>
<img class="pic" src="https://i.mydramalist.com/WAEAp_4c.jpg?v=1"
height="12%" width="12%">
<p>
  Baek Hee Sung (portrayed by Lee Joon-gi 이준기) portrays the perfect husband to detective Cha Ji Won (portrayed Moon Chae-won 문채원). Their idyllic life is interrupted after a series of murders which begins to raise questions about Hee Sung's identity and past.
</p>

</div>
</div>